<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.sakuramochi702.colorrecognize"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlayActivity">
        </activity>
        <activity android:name=".EachResultDialogFragment">
        </activity>
        <activity android:name=".ResultActivity">
        </activity>
        <activity android:name=".HelpActivity1">
        </activity>
        <activity android:name=".HelpActivity2">
        </activity>
        <activity android:name=".HelpActivity3">
        </activity>
        <activity android:name=".HelpActivity4">
        </activity>
        <activity android:name=".HelpActivity5">
        </activity>
    </application>

</manifest>
